Finally, your first name is <%= name %> and your last name is <%= lname %>, you are <%= age %> years old, you have <%= hair %> colored hair, you have <%= eye %> eyes, you like to eat <%= food %> and drink <%= drink %>, and your total of <%= favnum1 %>, <%= favnum2 %>, and <%= favnum3 %> is . . . <%= sum %>!

<form>
  <input type = "hidden" name = "user_name" value = <%= name %> >
  <input type = "hidden" name = "l_user_name" value = <%= lname %> >
  <input type = "hidden" name = "user_age" value = <%= age %> >
  <input type = "hidden" name = "user_hair" value = <%= hair %> >
  <input type = "hidden" name = "user_eye" value = <%= eye %> >
  <input type = "hidden" name = "user_food" value = <%= food %> >
  <input type = "hidden" name = "user_drink" value = <%= drink %> >
  <input type = "hidden" name = "user_number_1" value = <%= favnum1 %> >
  <input type = "hidden" name = "user_number_2" value = <%= favnum2 %> >
  <input type = "hidden" name = "user_number_3" value = <%= favnum3 %> >
  <input type = "hidden" name = "sum" value = <%= sum %> >
</form>
